.wrapper {
    width: 290px;
    margin: 150px auto;
}

.wrapper div {
    display: inline-block;
}

.time_number {
    font-size: 60px;
}

.time_milisec {
    font-size: 36px;
}

.timer_btn {
    display: block;
    width: 140px;
    height: 40px;
    margin: 20px auto;
    border: 0;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

.start_btn {
    background: #98FF98;
}

.clear_btn {
    background: #AFEEEE;
}

.start_btn_pause {
    background: #FFAF94;
}
