@font-face {
    font-family: 'Metric-Regular';
    src: url('../fonts/Metric-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metric-Regular.otf')  format('opentype'),
         url('../fonts/Metric-Regular.woff') format('woff'),
         url('../fonts/Metric-Regular.ttf')  format('truetype'),
         url('../fonts/Metric-Regular.svg#Metric-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metric-Semibold';
    src: url('../fonts/Metric-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metric-Semibold.otf')  format('opentype'),
         url('../fonts/Metric-Semibold.woff') format('woff'),
         url('../fonts/Metric-Semibold.ttf')  format('truetype'),
         url('../fonts/Metric-Semibold.svg#Metric-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: #00BCE7;
    color: #fff;
    font-family: 'Metric-Regular';
    animation: a 28s infinite
}

.container {
    width: 100%;
    text-align: center;
}

.left-section {
    display: inline-block;
    max-width: 330px;
    vertical-align: bottom;
    text-align: left;
}

.title {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Metric-Semibold';
    line-height: 24px;
    letter-spacing: 0.6px;
}

.text {
    margin-top: 15px;
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 24px;
}

.ref-cont a {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.6;
    transition: 0.3s;
}

.ref-cont a:hover {
    opacity: 1;
}

.right-section {
    display: inline-block;
    margin-left: 165px;
}

.video-container {
    width: 608px;
    height: 343px;
}

.refs-mob {
    display: none;
}

.video-container video {
    height: 100%;
    width: 100%;
}

@media (max-width: 1400px) {
    .right-section {
        margin-left: 115px;
    }
}

@media (max-width: 1200px) {
    .right-section {
        margin-left: 50px;
    }
}

@media (max-width: 1023px) {
    .ref-cont {
        display: none;
    }
    .container {
        text-align: left;
    }
    .left-section {
        width: 100%;
        padding: 25px;
        max-width: 500px;
    }
    .text {
        margin-bottom: 0;
    }
    .right-section {
        margin-left: 0;
    }
    .video-container {
        max-width: 608px;
        max-height: 343px;
        width: 100%;
        height: 100%;
        padding-left: 25px;
    }
    .refs-mob {
        display: block;
        padding-left: 25px;
    }
    .label {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .refs-mob a {
        display: inline-block;
    }
    .refs-mob a.left {
        margin-right: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100vh;
    }
}

@media (max-width: 633px) {
    .video-container {
        padding-left: 0;
    }
}

@keyframes a {
    0% {
        background-color: #00bce7;
    }
    15% {
        background-color: #00bce7;
    }
    20% {
        background-color: #ef463a;
    }
    35% {
        background-color: #ef463a;
    }
    40% {
        background-color: #f27488;
    }
    55% {
        background-color: #f27488;
    }
    60% {
        background-color: #fcb515;
    }
    75% {
        background-color: #fcb515;
    }
    70% {
        background-color: #6fc9c4;
    }
    95% {
        background-color: #6fc9c4;
    }
    100% {
        background-color: #00bce7;
    }
}
