<div class="default-container">
  <div class="top-btn-container">
    <a class="default-button left-btn" href="">Homing</a>
    <div class="tip-inline">Run homing Routine Click the "verified" button below if pin finished directly in front of bend head orafice
    </div>
  </div>

  <div class="manual-controller-container">
    <div class="vertical-element">
      <div class="element-text">Feed</div>
      <div class="vertical-element-btns">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </div>
    </div>

    <div class="horizontal-element left-element">
      <div class="element-text-horizontal">CCW</div>
      <div class="horizontal-element-btns">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
    </div>

    <div class="horizontal-element right-element">
      <div class="horizontal-element-btns">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="element-text-horizontal">CW</div>
    </div>

    <div class="vertical-element bottom-element">
      <div class="vertical-element-btns">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="element-text">Reverse</div>
    </div>

  </div>

  <div class="bot-btn-container">
    <div class="tip-fullwidth">Fine tune the Home position with manual control or arrow keys. Press "Verified" button below when bend pin is directly in front of orafice
    </div>
    <a class="default-button" href="">Verified</a>

  </div>
</div>
