<div class="default-container">
  <div class="top-btn-container">
    <a class="default-button left-btn" href="/homing">Homing</a>
    <a class="default-button right-btn" href="">Load</a>
  </div>

  <div class="manual-controller-container">
    <div class="vertical-element">
      <div class="element-text">Feed</div>
      <div class="vertical-element-btns">
        <i class="fa fa-chevron-up" aria-hidden="true" ng-click="setVal(10)"></i>
        <i class="fa fa-chevron-up" aria-hidden="true" ng-click="setVal(5)"></i>
        <i class="fa fa-chevron-up" aria-hidden="true" ng-click="setVal(1)"></i>
      </div>
    </div>

    <div class="horizontal-element left-element">
      <div class="element-text-horizontal">CCW</div>
      <div class="horizontal-element-btns">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
    </div>

    <div class="horizontal-element right-element">
      <div class="horizontal-element-btns">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="element-text-horizontal">CW</div>
    </div>

    <div class="vertical-element bottom-element">
      <div class="vertical-element-btns">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="element-text">Reverse</div>
    </div>

    <a class="default-button duck-btn">Duck</a>
  </div>

  <div class="bot-btn-container">
    <a class="default-button left-btn" href="">Manual Op</a>
    <a class="default-button" href="">Calibration</a>
    <a class="default-button right-btn" href="">Offset</a>
  </div>
</div>
